head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Random Systems Dashboard')
    meta(name='author' content='Random Systems - Mario Galea')

    link(rel='shortcut icon' href='assets/app/img/favicon.ico')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css")
    link(rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css")
    link(href='assets/bootstrap-switch/css/bootstrap4/bootstrap-switch.css' rel='stylesheet')
    link(href='assets/app/css/widget.css' rel='stylesheet')
    link(href='assets/app/css/fixed-plugin.css' rel='stylesheet')
    link(href='assets/winbox/css/winbox.min.css' rel='stylesheet')
    //  Custom styles for this template 
    link(href='assets/app/css/custom.css', rel='stylesheet', type='text/css')

    block extra_stylesheets
