extends layouts/blank
block content
            .single-widget-container
                form(action='reset_password.html' method='get').widget.login-widget.d-flex.row.justify-content-around
                    .logo
                        img(src=brand_image)
                    header.text-align-center
                        h6 Reset Your Account Details
                    .body

                            fieldset.form-group
                                label(for='email') Email
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-user
                                    input#username.form-control.input-lg.input-transparent(type='text' placeholder='Your email' required='')
                    footer.form-actions
                        .row
                            .col-8.d-flex.justify-content-end
                               small You will receive a link to reset your password.
                            .col-4.d-flex.justify-content-end
                                button.btn.btn-danger.btn-md.float-right(type='submit' ) Send

            include components/fixed_plugin